alias tree='tree -C'
alias lsn="ls --color=none -F"
alias mvnfind='find ~/.m2 -name \*.jar|xargs zipfind $*'
alias ivyfind='find ~/.ivy2 -name \*.jar|xargs zipfind $*'
alias gradlefind='find ~/.gradle -name \*.jar|xargs zipfind $*'
alias depfind='find ~/.gradle ~/.ivy2 ~/.m2 -name \*.jar|xargs zipfind $*'
alias grep='grep --color=auto $*'
alias ducks='du -cks * | sort -rn | head'
